:root {
    --cor-secundaria: #212A3E;
    --cor-quaternaria: #9BA4B5;
}

.progress__bar {
    height: 20px;
    border-radius: 10px;
    background-color: var(--cor-quaternaria);
    display: flex;
}

.progress__real::before {
    content: "";
    background-color: var(--cor-secundaria);
    border-radius: 10px;
}

.logica::before {
    width: 60%;
}

.html::before {
    width: 75%;
}

.css::before {
    width: 65%;
}

.bootstrap::before {
    width: 30%;
}

.tailwind::before {
    width: 30%;
}

.javascript::before {
    width: 45%;
}

.nodejs::before {
    width: 20%;
}

.react::before {
    width: 20%;
}

.reactnative::before {
    width: 20%;
}

.java::before {
    width: 40%;
}

.mysql::before {
    width: 20%;
}

.git::before {
    width: 50%;
}

.github::before {
    width: 60%;
}   

.versionamento::before {
    width: 50%;  
}

.comunicacao::before {
    width: 80%;
}

.criatividade::before {
    width: 70%;
}

.organizacao::before {
    width: 90%;
}

.aprendizado::before {
    width: 85%;
}

.lideranca::before {
    width: 65%;
}

.equipe::before {
    width: 75%;
}

.tempo::before {
    width: 70%;
}

  .adaptacao::before{
    width: 90%;
  }

  @media (min-width:320px) and (max-width: 480px) {
    .progress__bar {
        height: 12px;
    }
  }

  @media (min-width:481px) and (max-width: 768px) {
    .progress__bar {
        height: 15px;
    }
  }