:root {
    --cor-primaria: #F1F6F9;
    --cor-secundaria: #212A3E;
    --cor-terciaria: #394867;
    --cor-quaternaria: #9BA4B5;
}

.progress__bar_logica {
    height: 20px;
    border-radius: 10px;
    background-color: var(--cor-quaternaria);
    display: flex;
}

.progress__bar_logica::before {
    content: "";
    width: 60%;
    background-color: var(--cor-secundaria);
    border-radius: 10px;
}

.progress__bar__html {
    height: 20px;
    border-radius: 10px;
    background-color: var(--cor-quaternaria);
    display: flex;
}

.progress__bar__html::before {
    content: "";
    width: 75%;
    background-color: var(--cor-secundaria);
    border-radius: 10px;
}

.progress__bar__css {
    height: 20px;
    border-radius: 10px;
    background-color: var(--cor-quaternaria);
    display: flex;
}

.progress__bar__css::before {
    content: "";
    width: 65%;
    background-color: var(--cor-secundaria);
    border-radius: 10px;
}

.progress__bar__bootstrap {
    height: 20px;
    border-radius: 10px;
    background-color: var(--cor-quaternaria);
    display: flex;
}

.progress__bar__bootstrap::before {
    content: "";
    width: 30%;
    background-color: var(--cor-secundaria);
    border-radius: 10px;
}

.progress__bar__tailwind {
    height: 20px;
    border-radius: 10px;
    background-color: var(--cor-quaternaria);
    display: flex;
}

.progress__bar__tailwind::before {
    content: "";
    width: 30%;
    background-color: var(--cor-secundaria);
    border-radius: 10px;
}

.progress__bar__javascript {
    height: 20px;
    border-radius: 10px;
    background-color: var(--cor-quaternaria);
    display: flex;
}

.progress__bar__javascript::before {
    content: "";
    width: 45%;
    background-color: var(--cor-secundaria);
    border-radius: 10px;
}

.progress__bar__nodejs {
    height: 20px;
    border-radius: 10px;
    background-color: var(--cor-quaternaria);
    display: flex;
}

.progress__bar__nodejs::before {
    content: "";
    width: 20%;
    background-color: var(--cor-secundaria);
    border-radius: 10px;
}

.progress__bar__react {
    height: 20px;
    border-radius: 10px;
    background-color: var(--cor-quaternaria);
    display: flex;
}

.progress__bar__react::before {
    content: "";
    width: 20%;
    background-color: var(--cor-secundaria);
    border-radius: 10px;
}

.progress__bar__reactnative {
    height: 20px;
    border-radius: 10px;
    background-color: var(--cor-quaternaria);
    display: flex;
}

.progress__bar__reactnative::before {
    content: "";
    width: 20%;
    background-color: var(--cor-secundaria);
    border-radius: 10px;
}

.progress__bar__java {
    height: 20px;
    border-radius: 10px;
    background-color: var(--cor-quaternaria);
    display: flex;
}

.progress__bar__java::before {
    content: "";
    width: 40%;
    background-color: var(--cor-secundaria);
    border-radius: 10px;
}

.progress__bar__mysql {
    height: 20px;
    border-radius: 10px;
    background-color: var(--cor-quaternaria);
    display: flex;
}

.progress__bar__mysql::before {
    content: "";
    width: 20%;
    background-color: var(--cor-secundaria);
    border-radius: 10px;
}

.progress__bar__git {
    height: 20px;
    border-radius: 10px;
    background-color: var(--cor-quaternaria);
    display: flex;
}

.progress__bar__git::before {
    content: "";
    width: 50%;
    background-color: var(--cor-secundaria);
    border-radius: 10px;
}

.progress__bar__github {
    height: 20px;
    border-radius: 10px;
    background-color: var(--cor-quaternaria);
    display: flex;
}

.progress__bar__github::before {
    content: "";
    width: 60%;
    background-color: var(--cor-secundaria);
    border-radius: 10px;
}   

.progress__bar__versionamento {
    height: 20px;
    border-radius: 10px;
    background-color: var(--cor-quaternaria);
    display: flex;
}

.progress__bar__versionamento::before {
    content: "";
    width: 50%;
    background-color: var(--cor-secundaria);
    border-radius: 10px;   
}

.progress__bar__comunicacao {
    height: 20px;
    border-radius: 10px;
    background-color: var(--cor-quaternaria);
    display: flex;
}

.progress__bar__comunicacao::before {
    content: "";
    width: 80%;
    background-color: var(--cor-secundaria);
    border-radius: 10px;
}

.progress__bar__criatividade {
    height: 20px;
    border-radius: 10px;
    background-color: var(--cor-quaternaria);
    display: flex;
}

.progress__bar__criatividade::before {
    content: "";
    width: 70%;
    background-color: var(--cor-secundaria);
    border-radius: 10px;
}

.progress__bar__organizacao {
    height: 20px;
    border-radius: 10px;
    background-color: var(--cor-quaternaria);
    display: flex;
}

.progress__bar__organizacao::before {
    content: "";
    width: 90%;
    background-color: var(--cor-secundaria);
    border-radius: 10px;
}

.progress__bar__rapido {
    height: 20px;
    border-radius: 10px;
    background-color: var(--cor-quaternaria);
    display: flex;
}

.progress__bar__rapido::before {
    content: "";
    width: 85%;
    background-color: var(--cor-secundaria);
    border-radius: 10px;
}

.progress__bar__lideranca {
    height: 20px;
    border-radius: 10px;
    background-color: var(--cor-quaternaria);
    display: flex;
}

.progress__bar__lideranca::before {
    content: "";
    width: 65%;
    background-color: var(--cor-secundaria);
    border-radius: 10px;
}

.progress__bar__equipe {
    height: 20px;
    border-radius: 10px;
    background-color: var(--cor-quaternaria);
    display: flex;
}

.progress__bar__equipe::before {
    content: "";
    width: 75%;
    background-color: var(--cor-secundaria);
    border-radius: 10px;
}

.progress__bar__tempo {
    height: 20px;
    border-radius: 10px;
    background-color: var(--cor-quaternaria);
    display: flex;
}

.progress__bar__tempo::before {
    content: "";
    width: 70%;
    background-color: var(--cor-secundaria);
    border-radius: 10px;
}

.progress__bar__adaptacao{
    height: 20px;
    border-radius: 10px;
    background-color: var(--cor-quaternaria);
    display: flex;
  }

  .progress__bar__adaptacao::before{
    content: "";
    width: 90%;
    background-color: var(--cor-secundaria);
    border-radius: 10px;
  }