@font-face {
    font-family: 'Nunito';
    src: url('../fonts/NunitoSans.ttf') format('truetype');
    font-weight: 300;
    font-style: light;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather.ttf') format('truetype');
    font-weight: 400;
    font-style: regular;
}

:root {
    --cor-primaria: #F1F6F9;
    --cor-secundaria: #212A3E;
    --cor-terciaria: #394867;
    --cor-quaternaria: #9BA4B5;
    --cor-destaque: #F8F8FF;

    --fonte-primaria: 'Nunito', sans-serif;
    --fonte-secundaria: 'Merriweather', serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 30px 0px 0px 330px;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__links {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao {
    padding: 75px 300px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 82px;
}

.apresentacao__about {
    padding: 75px 300px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 82px;
}

.apresentacao_imagem {
    width: 300px;
    height: 300px;

}

.apresentacao__conteudo {
    width: 350px;
    text-align: left;
    line-height: 25px;
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    color: var(--cor-secundaria);
}

.apresentacao__titulos {
    padding: 17.5px;
    font-size: 1.5rem;
    text-align: center;
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
}

.apresentacao__cargos {
    padding: 7px 7px 7px 0px;
    font-size: 1.2rem;
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
}

.apresentacao__nome {
    font-size: 2rem;
    padding: 35px 0px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
}

.apresentacao__profissao {
    font-size: 1.5rem;
    padding-bottom: 35px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    border: 2px solid var(--cor-destaque);
    width: 250px;
    align-items: inherit;
    border-radius: 8px;
    font-weight: 600;
    padding: 15px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-quaternaria);
    color: var(--cor-terciaria);
    color: var(--cor-destaque);
}

.rodape__conteudo {
    padding: 24px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--fonte-secundaria);
    color: var(--cor-terciaria);
}

@media (min-width:320px) and (max-width: 480px) {
    .cabecalho {
        padding: 5% 0% 5% 20%
    }

    .cabecalho__menu__links {
        font-size: 1rem;
    }

    .apresentacao {
        padding: 0% 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .apresentacao__about {
        padding: 10%;
    }

    .apresentacao__titulos {
        font-size: 1.2rem;
    }

    .apresentacao__cargos {
        font-size: 1rem;
    }

    .apresentacao__conteudo {
        font-size: 0.75rem;
    }

    .rodape__conteudo {
        font-size: 1rem;
    }
}

@media (min-width:481px) and (max-width: 768px) {
    .cabecalho {
        padding: 5% 0% 10% 0%;
        display: flex;
        justify-content: center;
    }

    .apresentacao {
        padding: 0% 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .apresentacao__about {
        padding: 10%;
        display: flex;
        justify-content: center;
    }
}

@media (min-width:769px) and (max-width: 1024px) {
    .cabecalho {
        padding: 5% 0% 5% 15%;
    }

    .apresentacao {
        padding: 3%;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .apresentacao__conteudo {
        width: 40%
    }

    .apresentacao__about {
        padding: 5%;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .cabecalho {
        padding: 5% 15%;
    }

    .apresentacao {
        padding: 0% 7%;
    }

    .apresentacao__about {
        padding: 10%;
    }
}

@media (min-width: 1201px) and (max-width: 1236px) {
    .cabecalho {
        padding: 73px 0px 73px 263px;
    }

    .apresentacao {
        padding: 0% 15%;
    }

    .apresentacao__about {
        padding: 10%;
    }
}

@media (min-width: 1237px) and (max-width: 1352px) {
    .cabecalho {
        padding: 73px 0px 73px 263px;
    }

    .apresentacao {
        padding: 0% 15%;
    }

    .apresentacao__about {
        padding: 10%;
    }
}

@media (min-width: 1353px) and (max-width: 1464px) {
    .cabecalho {
        padding: 80px 0px 80px 300px;
    }

    .apresentacao {
        padding: 0% 18%;
    }

    .apresentacao__about {
        padding: 10%;
    }
}