@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Nunito+Sans:opsz,wght@6..12,300&display=swap');

:root {
    --cor-primaria: #F1F6F9;
    --cor-secundaria: #212A3E;
    --cor-terciaria: #394867;
    --cor-quaternaria: #9BA4B5;

    --fonte-primaria: 'Nunito Sans', sans-serif;
    --fonte-secundaria: 'Merriweather', serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 22%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__links {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao {
    padding: 5% 20%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 82px;
}

.apresentacao_imagem {
    width: 20%;
}

.apresentacao__conteudo {
   width: 40%;
   text-align: justify;
   line-height: 150%;
   font-family: var(--fonte-primaria);
   font-size: 1rem;
   color: var(--cor-secundaria);
}

.apresentacao__titulos {
    padding: 5%;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
}

.apresentacao__cargos {
    padding: 2% 2% 2% 0%;
    font-size: 1.2rem;
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
}

.apresentacao__nome {
    font-size: 2rem;
    padding: 10% 0% 10% 0%;
    text-align: center;
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
}

.apresentacao__profissao {
    font-size: 1.5rem;
    padding-bottom: 10%;
    text-align: center;
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    border: 2px solid white;
    width: 40%;
    text-align: center;
    border-radius: px;
    font-weight: 600;
    padding: 15px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-quaternaria);
    color: var(--cor-terciaria);
}

.rodape__conteudo {
    padding: 24px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--fonte-secundaria);
    color: var(--cor-terciaria);
}